 <!DOCTYPE html>
 <html lang="ja">
 <head>
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <meta name="description" content="イカラーニングでスプラトゥーン2のサブ・スペシャルを覚えよう" />
     <meta name="keywords" content="スプラトゥーン2,クイズ,サブ,スペシャル,イカラーニング" />     
     <title>イカラーニング</title>
     <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">
     <script data-ad-client="ca-pub-7234033854270698" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
 </head>
 <body>
    <a href="{{ url_for('setting') }}">設定レベル:</a>{{level}}<br>
    直近20回 正解率:{{latest20}}%<br>
    連続正解数:{{renzoku}}　　
    <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-text="イカラーニングでサブ・スペシャルを覚えよう！【設定レベル:{{level}}  直近20回 正解率:{{latest20}}%　連続正解数:{{renzoku}}】 #Splatoon2 #スプラトゥーン2 #NintendoSwitch #ikalearning" data-show-count="false">Tweet</a>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>  
    <hr>
    <h1>{{weapon}}</h1>
    <img src="/static/images/weapon/{{i}}.png">
    
    <form method="post" action="/">
        <fieldset style="border: 1px solid #000000; padding: 10px;">
            <legend>サブ</legend>
            <input type="radio" name="trigger" value={{sub_one}} id="s1" checked="checked"><label for="s1">{{sub_one}}</label><br>
            <input type="radio" name="trigger" value={{sub_two}} id="s2"><label for="s2">{{sub_two}}</label><br>
            <input type="radio" name="trigger" value={{sub_three}} id="s3"><label for="s3">{{sub_three}}</label>
        </fieldset>
        <fieldset style="border: 1px solid #000000; padding: 10px;">
            <legend>スペシャル</legend>
            <input type="radio" name="trigger2" value={{sp_one}} id="sp1" checked="checked"><label for="sp1">{{sp_one}}</label><br>
            <input type="radio" name="trigger2" value={{sp_two}} id="sp2"><label for="sp2">{{sp_two}}</label><br>
            <input type="radio" name="trigger2" value={{sp_three}} id="sp3"><label for="sp3">{{sp_three}}</label>
        </fieldset>
        <input type="hidden" name="i" value={{i}}>
        <div class="flame">
        <input type="submit" name="答え合わせ！">
        </div>
    </form>
    
 </html>